body {
  margin: 0;
  font-family: sans-serif;
}

canvas {
  display: block;
  margin: 0 auto;
}

.controls,
.page-number {
  width: calc(100% / 3);
}

.controls {
  text-align: right;
}

.page-number {
  text-align: center;
}

i {
  margin: 0 1rem;
  cursor: pointer;
}

nav {
  color: white;
  font-size: 1.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #343a40;
  user-select: none;
}
